<!-- 325p -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comment page</title>
    <style>
        table {
            border: 2px solid black;
            border-collapse: collapse;
        }

        table th,
        table td {
            border: 2px solid black;
        }
    </style>
</head>

<body>
<div>
    <form id="user-form" action="">
        <fieldset>
            <legend>사용자 등록</legend>
        </fieldset>
    </form>
</div>
<div>
    <table id="user-list">

    </table>
</div>

<div>
    <form id="comment-form" action="">
        <fieldset>
            <legend>댓글 등록</legend>
        </fieldset>
    </form>
</div>
<div>
    <table id="comment-list">

    </table>
</div>
</body>

</html>
<!-- axios script -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>